.container-fluid
  .pending-homepage.row

    .homepage-block.col-md-3
      %p dnfkdnfkj
    .homepage-block.col-md-3
      %p dnfkdnfkj
    .homepage-block.col-md-3
      %p dnfkdnfkj
    .homepage-block.col-md-3
      %p dnfkdnfkj

  .pending-homepage
    %div
      %p fdfnkdsnk
