.container-fluid
  .pending-homepage.row
    %h2 Items Pending Your Approval
    %hr

    = render partial: 'pending_approval', locals: { pending_approvals: @pending_approvals }

  .pending-homepage.row
    %h2 Confirmation Log
    %hr

    = render partial: 'confirmation_log', locals: { recent_audit_items: @recent_audit_items }

    .clearfix
    %hr

    = link_to 'View All Logs', audit_logs_path, class: 'btn btn-primary'

