.container-fluid
  .row
    - if @pending_audit_confirmations.count > 0
      .column.well.employee-blocks
        %h3 Pending Your Confirmation
        = render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations }

    .column.well.employee-blocks
      = link_to "Request Overtime Approval", new_post_path, class: 'btn btn-primary btn-block btn-lg'

